<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ The contents of this file are subject to the OpenMRS Public License
  ~ Version 1.0 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://license.openmrs.org
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations
  ~ under the License.
  ~
  ~ Copyright (C) OpenMRS, LLC.  All Rights Reserved.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openmrs.mobile"
    android:versionCode="1"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:name=".application.OpenMRS"
        android:allowBackup="true"
        android:icon="@drawable/ic_openmrs"
        android:label="@string/app_name"
        android:theme="@style/Theme.Openmrs">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="@string/aadbname" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="@integer/aadbversion" />
        <meta-data
            android:name="buildVersion"
            android:value="0" />

        <receiver android:name=".application.OpenMRSBroadcastReceiver">
            <intent-filter>
                <action android:name="org.openmrs.mobile.intent.action.AUTH_FAILED_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.UNAUTHORIZED_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.CONN_TIMEOUT_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.NO_INTERNET_CONNECTION_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SERVER_UNAVAILABLE_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SERVER_ERROR_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SOCKET_EXCEPTION_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SERVER_NOT_SUPPORTED_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".api.SyncStateReceiver">
            <intent-filter>
                <action android:name="org.openmrs.mobile.intent.action.SYNC_PATIENTS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.dashboard.DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.dialog.DialogActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.syncedpatients.SyncedPatientsActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/action_synced_patients"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeOrig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.dashboard.DashboardActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:noHistory="true" />
        <activity
            android:name=".activities.patientdashboard.PatientDashboardActivity"
            android:theme="@style/AppThemeOrig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.syncedpatients.SyncedPatientsActivity" />
        </activity>
        <activity
            android:name=".activities.activevisits.ActiveVisitsActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/action_active_visits"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeOrig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.dashboard.DashboardActivity" />
            android:value=".activities.DashboardActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.visitdashboard.VisitDashboardActivity"
            android:label="@string/visit_dashboard_label"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.activevisits.ActiveVisitsActivity" />
        </activity>
        <activity
            android:name=".activities.formlist.FormListActivity"
            android:label="@string/action_form_entry"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.formentrypatientlist.FormEntryPatientListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.formentrypatientlist.FormEntryPatientListActivity" />
        </activity>
        <activity
            android:name=".activities.formentrypatientlist.FormEntryPatientListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_form_entry"
            android:parentActivityName=".activities.dashboard.DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.addeditpatient.AddEditPatientActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_register_patient"
            android:parentActivityName=".activities.addeditpatient.AddEditPatientActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.addeditpatient.AddEditPatientActivity" />
        </activity>

        <service
            android:name=".api.PatientService"
            android:enabled="true" />
        <service
            android:name=".api.EncounterService"
            android:enabled="true" />
        <service
            android:name=".api.FormListService"
            android:enabled="true" />

        <activity
            android:name=".activities.formdisplay.FormDisplayActivity"
            android:label="@string/title_activity_form_create"
            android:parentActivityName=".activities.formlist.FormListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.openmrs.mobile.activities.formlist.FormListActivity" />
        </activity>
        <activity
            android:name=".activities.lastviewedpatients.LastViewedPatientsActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/action_download_patients"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeOrig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.dashboard.DashboardActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.matchingpatients.MatchingPatientsActivity"/>
        <activity
            android:name=".activities.patientdashboard.details.PatientPhotoActivity"
            android:parentActivityName=".activities.patientdashboard.PatientDashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.openmrs.mobile.activities.patientdashboard.PatientDashboardActivity" />
        </activity>
    </application>

</manifest>
