target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

#android project
build/*
*.iml
tests/*.iml
.gradle/
.idea/
local.properties
gradle.properties
tests/bin/*
bin/*
tests/gen/*
gen/*
tests/out/*
out/*
support/appcompat/gen/*
support/appcompat/bin/*
support/appcompat/out/*
support/gridlayout/gen/*
support/gridlayout/bin/*
support/gridlayout/out/*

#git patches
*.patch
