<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ The contents of this file are subject to the OpenMRS Public License
  ~ Version 1.0 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://license.openmrs.org
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations
  ~ under the License.
  ~
  ~ Copyright (C) OpenMRS, LLC.  All Rights Reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.openmrs.mobile"
          android:versionCode="4"
          android:versionName="Beta 2.1.2-SNAPSHOT">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_openmrs"
        android:label="@string/app_name"
        android:theme="@style/Theme.Openmrs"
        android:name=".application.OpenMRS">
        <meta-data android:name="buildVersion" android:value="0" />

        <provider android:name="org.odk.collect.android.openmrs.provider.OpenMRSFormsProvider"
                  android:authorities="org.odk.collect.android.openmrs.provider.odk.forms"
                  android:exported="false"/>
        <provider android:name="org.odk.collect.android.openmrs.provider.OpenMRSInstanceProvider"
                  android:authorities="org.odk.collect.android.openmrs.provider.odk.instances"
                  android:exported="false"/>

        <receiver android:name=".application.OpenMRSBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.openmrs.mobile.intent.action.AUTH_FAILED_BROADCAST"/>
                <action android:name="org.openmrs.mobile.intent.action.UNAUTHORIZED_BROADCAST"/>
                <action android:name="org.openmrs.mobile.intent.action.CONN_TIMEOUT_BROADCAST"/>
                <action android:name="org.openmrs.mobile.intent.action.NO_INTERNET_CONNECTION_BROADCAST"/>
                <action android:name="org.openmrs.mobile.intent.action.SERVER_UNAVAILABLE_BROADCAST"/>
                <action android:name="org.openmrs.mobile.intent.action.SERVER_ERROR_BROADCAST"/>
                <action android:name="org.openmrs.mobile.intent.action.SOCKET_EXCEPTION_BROADCAST"/>
                <action android:name="org.openmrs.mobile.intent.action.SERVER_NOT_SUPPORTED_BROADCAST"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DialogActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity
            android:name=".activities.FindPatientsActivity"
            android:label="@string/action_find_patients"
            android:configChanges="keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FindPatientsSearchActivity"
            android:label="@string/action_find_patients"
            android:launchMode="singleTop" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindPatientsActivity" />
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/NoActionBarTheme"
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".activities.PatientDashboardActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindPatientsActivity" />
        </activity>
        <activity
            android:name=".activities.FindActiveVisitsActivity"
            android:label="@string/action_active_visits"
            android:launchMode="singleTop">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FindActiveVisitsSearchActivity"
            android:label="@string/action_active_visits"
            android:launchMode="singleTop">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindActiveVisitsActivity" />
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VisitDashboardActivity"
            android:label="@string/visit_dashboard_label"
            android:launchMode="singleTop">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindActiveVisitsActivity" />
        </activity>
        <activity
            android:name=".activities.FormEntryActivity"
            android:label="@string/action_active_visits"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:label="@string/action_capture_vitals"
            android:name=".activities.CaptureVitalsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
    </application>
</manifest>
