<!DOCTYPE html>
<html lang="en">
<head>
  <title>OpenMRS CHAT</title>

</head>
<body>
  <div id="logoContainer"></div>

  <div class="container">

      <h1>Welcome to <b>OpenMRS CHAT</b></h1>
       <h5>A multiparty WebRTC experience.</h5> 
       <div id="roomContainer">
        <form> 
        <input id="roomName" class="std-input-text" type="text" placeholder="Enter a room name"/> 
        </form>
         <a href="#" id="submitButton" class="btn-standard actionButton">Join</a>
        
           
        <div id="infoBox">
          <p>WebRTC is an open source project aiming to enable the web with Real Time Communication (RTC) capabilities.</p>
          <p>This Demo is Open Sourced on Github by Basar Qari
          
        </div>
      </div>
    </div>
  </div>

   <link rel="stylesheet" href="/css/index.css" />
  <script src="/smartbanner/jquery.smartbanner.js"></script>
  <script src="/js/index.js" type="text/javascript"></script>
  
</body>
</html>
