/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * Elements
 */
/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * Elements
 */
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Muli', sans-serif; }

.Blur video {
  -webkit-filter: Blur(15px);
  -moz-filter: Blur(15px);
  filter: Blur(15px); }

.Sepia video {
  -webkit-filter: Sepia(100%);
  -moz-filter: Sepia(100%);
  filter: Sepia(100%); }

.Grayscale video {
  -webkit-filter: Grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

.Invert video {
  -webkit-filter: Invert(100%);
  filter: Invert(100%); }

.popover {
  top: -227px;
  left: -256px;
  display: block;
  opacity: 0.9 !important;
  background-color: #111; }

.popover h3.popover-title {
  background: #000;
  color: white;
  border-bottom-color: #292929; }

.popover .popover-content {
  background: #111;
  opacity: 0.9; }

.popover.top .arrow {
  border-top: none; }
  .popover.top .arrow:after {
    border-top-color: #111; }

#controlsContainer {
  position: absolute;
  bottom: 0px;
  right: 400px;
  left: 0px;
  width: 100%; }
  #controlsContainer .controlsHeader {
    position: relative;
    bottom: -1px;
    font-size: 20px;
    color: #444444;
    font-family: "AvantGardeGothicITCW01X";
    font-weight: normal;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #999999 inset;
    display: inline-block; }
    #controlsContainer .controlsHeader .headerOption {
      display: inline-block;
      font-size: 25px;
      line-height: 150%;
      cursor: pointer;
      padding: 0 5px;
      background-color: rgba(255, 255, 255, 0.4); }
      #controlsContainer .controlsHeader .headerOption.selected {
        background-color: #EEE; }
  #controlsContainer .controlsBody {
    padding-top: 8px;
    background-color: #282828;
    padding-bottom: 8px;
    padding-left: 10px; }
    #controlsContainer .controlsBody .optionContainer #controlOptionsRight {
      display: inline-block;
      position: absolute;
      right: 0;
      padding-top: 5px; }
    #controlsContainer .controlsBody .optionContainer #mailButton {
      width: 33px;
      height: 28px;
      right: 178px;
      background-image: url("../img/icon_Mail.png");
      background-repeat: no-repeat; }
      #controlsContainer .controlsBody .optionContainer #mailButton:hover {
        background-image: url("../img/icon_Mail_hover.png"); }
    #controlsContainer .controlsBody .optionContainer #filtersButton {
      width: 28px;
      height: 24px;
      right: 130px;
      background: url("../img/filters-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #filtersButton:hover {
        background-image: url("../img/filters-icon-active.png"); }
      #controlsContainer .controlsBody .optionContainer #filtersButton.selected {
        background-image: url("../img/filters-icon-active.png"); }
    #controlsContainer .controlsBody .optionContainer #recordButton {
      background-image: url("../img/img-archiving_normal-icon.png");
      width: 27px;
      height: 27px;
      right: 85px; }
      #controlsContainer .controlsBody .optionContainer #recordButton:hover {
        background-image: url("../img/img-archiving_hover-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #recordButton.selected {
        background-image: url("../img/img-archiving_active-icon.png"); }
    #controlsContainer .controlsBody .optionContainer #roomLinkButton {
      background-image: url("../img/img-link_normal-icon.png");
      width: 28px;
      height: 28px;
      right: 40px; }
      #controlsContainer .controlsBody .optionContainer #roomLinkButton:hover {
        background-image: url("../img/img-link_hover-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #roomLinkButton.selected {
        background-image: url("../img/img-link_hover-icon.png"); }
    #controlsContainer .controlsBody .optionContainer #roomLinkInput {
      width: 70%; }
    #controlsContainer .controlsBody .optionContainer .popover {
      width: 200px;
      max-width: 200px; }
    #controlsContainer .controlsBody .optionContainer .popover #filtersList li button {
      background-color: #1ba3dd;
      border: medium none;
      border-spacing: 0;
      color: #26589F;
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: none;
      text-indent: 0;
      font-family: "Muli", arial;
      padding: 5px;
      margin: 0px 5px 0px 5px;
      text-decoration: none;
      color: #045564;
      background: #ebebeb;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      margin-bottom: 5px;
      width: 90%;
      text-align: center; }
      #controlsContainer .controlsBody .optionContainer .popover #filtersList li button:hover {
        color: #fff;
        background: #0097ca; }
    #controlsContainer .controlsBody .optionContainer #chatButton.no-after:after {
      content: none; }
    #controlsContainer .controlsBody .optionContainer #chatButton {
      background-image: url("../img/img-chat_normal-icon.png");
      width: 25px;
      height: 24px;
      right: 0px; }
      #controlsContainer .controlsBody .optionContainer #chatButton:hover {
        background-image: url("../img/img-chat_hover-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #chatButton.selected {
        background-image: url("../img/img-chat_active-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #chatButton:after {
        content: attr(data-unseen-count);
        position: absolute;
        top: -10px;
        right: -9px;
        padding: 0px 6px;
        border: 2px solid white;
        border-radius: 100px;
        background: linear-gradient(top, #ff6969 0%, red 100%);
        background: -webkit-linear-gradient(top, #ff6969 0%, red 100%);
        background: -moz-linear-gradient(top, #ff6969 0%, red 100%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 10px 0px rgba(255, 255, 255, 0.11) inset;
        background-clip: padding-box;
        font: bold 12px/18px "Helvetica Neue", sans-serif;
        color: white;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
        width: 6px;
        text-align: center; }
    #controlsContainer .controlsBody .optionContainer .option {
      font-family: "AvantGardeGothicITCW01X";
      font-size: 20px;
      line-height: 100%;
      font-weight: normal;
      color: #999999;
      cursor: pointer;
      display: inline-block;
      margin-right: 10px;
      position: absolute; }
    #controlsContainer .controlsBody #filterOptions {
      display: none; }

.popover-title {
  font-family: 'Muli', sans-serif; }

.tooltip {
  font-family: 'Muli', sans-serif; }

body {
  background: #555555; }
  body * {
    box-sizing: content-box; }
  body .container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  body .container.chatEnabled {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 300px;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  body #streams_container {
    position: absolute;
    top: 0px;
    bottom: 42px;
    right: 400px;
    left: 0px;
    text-align: center;
    box-sizing: border-box;
    width: 100%; }
    body #streams_container .streamContainer {
      display: inline-block;
      position: relative;
      text-align: center;
      box-sizing: border-box; }
      body #streams_container .streamContainer .OT_video-container {
        transition: width 1s;
        -webkit-transition: width 1s; }
    body #streams_container .flagUser {
      position: absolute;
      top: 10px;
      left: 0px;
      right: 0px;
      margin: auto;
      border: none;
      box-shadow: 0.15em 0.25em 0.33em rgba(0, 0, 0, 0.3);
      background-color: #43879E;
      color: white;
      font-size: 15px;
      padding: 10px;
      border-radius: 7px;
      width: 110px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      display: none;
      font-family: 'Muli',sans-serif; }
  body .clickThrough {
    pointer-events: none; }

#controlOptionsRight {
  display: inline-block;
  position: absolute;
  right: 0; }

#recordButton {
  background-image: url("../img/img-archiving_normal-icon.png");
  width: 27px;
  height: 27px; }

.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-radial-gradient(rgba(117, 181, 203, 0.85), rgba(49, 96, 113, 0.85));
  background-image: radial-gradient(rgba(117, 181, 203, 0.85), rgba(49, 96, 113, 0.85));
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50; }
  .overlay-blue .dismiss-overlay {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 99;
    width: 15px;
    height: 15px;
    cursor: pointer; }
